$darkerBackground: rgba(0, 0, 1, 1);
$dark_black: rgb(3, 3, 3);
$lighten_dark_black: rgba(20, 20, 20, 0.9);
$orange: rgba(255, 170, 0, 1);
$lightBLue: rgba(0, 255, 255, 1);
$violet: rgba(255, 0, 255, 1);
$gradient: linear-gradient(to right, #FF00B6, #002BFF, #E800FF, #00FF9E);

//Dk yet what to do with them
$show-home-video: true;
$home-image: url(https://sun9-33.userapi.com/c855224/v855224116/1418f7/HgMtzMNE1fI.jpg);
$background-opacity: 1;
